html, body{
	height: 100%;
  	margin: 0;
	font-family: Helvetica, Tahoma;
}

h1{
    color:#690502; /*Maroon*/
    text-align: center;	
}

.content {
  min-height: 70%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
footer{
	padding: 40px;
	background-color: #7E685A;
	text-align: center;
	font-size: 11px;
	color: white;
	*//*position: absolute;
 	bottom: 0;
 	width: 100%;*/
 	height: 50px;
  	margin-top: -50px;

}